@charset "utf-8";
	.x3C_Slice_x3E_
{
	position : absolute ;
	left : 46pt;
	top : 0pt;
}
.NormalCharacterStyle14
{
	font-family : Copperplate Gothic Light;
	font-size : 9pt;
	color : #DBBB5F;
	color : rgb(219, 187, 95);
}
.NormalCharacterStyle13
{
	font-family : Copperplate Gothic Light;
	font-size : 5pt;
	color : #DBBB5F;
	color : rgb(219, 187, 95);
}
.NormalCharacterStyle12
{
	font-family : Copperplate Gothic Light;
	font-size : 10pt;
	color : #FFFBF0;
	color : rgb(255, 251, 240);
}
.NormalCharacterStyle11
{
	font-family : Copperplate Gothic Light;
	font-size : 10pt;
	color : #FFFBF0;
	color : rgb(255, 251, 240);
}
.NormalCharacterStyle10
{
	font-family : Copperplate Gothic Light;
	font-size : 10pt;
	color : #FFFBF0;
	color : rgb(255, 251, 240);
}
.NormalCharacterStyle9
{
	font-family : Copperplate Gothic Bold;
	font-size : 9pt;
	color : #FFFBF0;
	color : rgb(255, 251, 240);
}
.NormalCharacterStyle2
{
	font-family : Copperplate Gothic Bold;
	font-size : 14pt;
	color : #828282;
	color : rgb(130, 130, 130);
}
.NormalCharacterStyle7
{
	font-family : Copperplate Gothic Bold;
	font-size : 9pt;
	color : #FFFBF0;
	color : rgb(255, 251, 240);
}
.NormalCharacterStyle6
{
	font-family : Copperplate Gothic Bold;
	font-size : 9pt;
	color : #FFFBF0;
	color : rgb(255, 251, 240);
}
.NormalCharacterStyle4
{
	font-family : Copperplate Gothic Bold;
	font-size : 9pt;
	color : #FFFBF0;
	color : rgb(255, 251, 240);
}
.NormalCharacterStyle1
{
	font-family : Copperplate Gothic Light;
	font-size : 11pt;
	color : #0D0C0C;
	color : rgb(13, 12, 12);
}
.NormalCharacterStyle
{
	font-family : Copperplate Gothic Bold;
	font-size : 14pt;
	color : #0D0C0C;
	color : rgb(13, 12, 12);
}
.NormalCharacterStyle8
{
	font-family : Copperplate Gothic Bold;
	font-size : 9pt;
	color : #FFFBF0;
	color : rgb(255, 251, 240);
}
.NormalCharacterStyle3
{
	font-family : Copperplate Gothic Bold;
	font-size : 12pt;
	color : #422920;
	color : rgb(66, 41, 32);
}
.NormalCharacterStyle5
{
	font-family : Copperplate Gothic Bold;
	font-size : 9pt;
	color : #FFFBF0;
	color : rgb(255, 251, 240);
}
