*{
  margin: 0pt;
  padding: 0pt;
}

a:visited{
  text-decoration: none;
}
div#Buttons {
	background-color:#dbbc5f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:20px;
	padding:17px 29px;
	text-decoration:none;
  text-align: center;
	text-shadow:1px 1px 20px #dbbc5f;
  float:left;
}
div#Buttons {
	background-color:#dbbc5f;
  margin-left: 315pt;
}
div#Content{
  background : #FFFBF0;
  border: 1px black solid;
  margin-top: 25pt;
  height: 100%;
  margin-left: 250pt;
  margin-right: 250pt;
  text-align: center;
  margin-top: 70pt;
}
#footer{
	position: absolute;
  margin-top:90%;
  width: 100%;
}
body{
  overflow: hidden;
}
.section{
  padding-top: 10%;
  padding-bottom: 10%;
}
