*{
  margin: 0pt;
  padding: 0pt;
}

a:visited{
  text-decoration: none;
}
div#Buttons {
	background-color:#dbbc5f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	
	font-size:20px;

	text-decoration:none;
  text-align: center;
	text-shadow:1px 1px 20px #dbbc5f;
	width:40%;
	font-family : Copperplate Gothic Light;
	font-weight: bold;
}
div#Buttons {
	background-color:#dbbc5f;

}
div#Content{
  background : #FFFBF0;


  height: 60%;
  margin-left: 250pt;
  margin-right: 250pt;
  text-align: center;
  margin-top: 70pt;
}
div#Content p{
	margin-left:5%;
	margin-right:5%;
	margin-top:3%;
	font-family : Copperplate Gothic Light;
}
div#Content ul{
	list-style-type: none;
	margin-top: 2%;
	font-family : Copperplate Gothic Light;
}
div#Content h4{
	margin-bottom:1%;
	margin-top:1%;
	font-family : Copperplate Gothic Light;
}



#footer{
	position: absolute;
  margin-top:90%;
  width: 100%;
}
body{
  overflow: hidden;
}
.section{
  padding-top: 3%;
  padding-right:5%;
  padding-left:5%;
  padding-bottom: 3%;
  display: inline-block;
  margin: 0pt !important;
  cursor: pointer;
  text-decoration: none;
  color : #FFFBF0;
}
.section:hover{
	background-color: #FFFBF0;
	opacity: 0.7;
}
#weare{
    display: block;

}
#miss{
    display: none;
}