div#Content{
  	font-family : Copperplate Gothic Light;

}
.btn{
	font-family : Copperplate Gothic bold;
	font-size : 110%;
	color : #828282;
	color : rgb(130, 130, 130);
	background : #F0C64F;
	background : rgba(240, 198, 79, 0.3);
	border: none;
	padding-top:1%;
	padding-bottom:1%;
}
.btn:hover{
	background : #F0C64F;
	background : rgba(240, 198, 79, 0.7);
	border: none;
}
