body{
	overflow: hidden
}
div#content{

	height:100%;
	position: relative;
	top: 25pt;
	background: #FFFBF0;
	font-family : Copperplate Gothic Light;
}


#footer{
	margin-top:-80px;
}

div#together{
	width: 70%;
	position: absolute;
	margin-top: 50pt;
	margin-left:15%;
	margin-right:15%;
	height: auto;
	text-align: center;
}

#donate_btn{
	
	width: 30%;
	height: auto;
	
}
hr{
	margin-top:3%;
	margin-bottom: 3%;
}
.btn{
	font-family : Copperplate Gothic bold;
	font-size : 110%;
	color : #828282;
	color : rgb(130, 130, 130);
	background : #F0C64F;
	background : rgba(240, 198, 79, 0.3);
	border: none;
	padding-top:1%;
	padding-bottom:1%;
}
.btn:hover{
	background : #F0C64F;
	background : rgba(240, 198, 79, 0.7);
	border: none;
}
div.recblock{
	width: 45%;
	display: inline-block;
	top: 0pt;
	position: relative;
	margin-left:2.5%;
	margin-right:2.5%;
}
#content h1{
	
	border-bottom: 2px #0D0D0D solid;
	margin-bottom:4%;
}

div#formamount div *{
	display: inline-block;
}

div#support{
	float: left;
	height:100%;
}
div#support div#info_body{
	margin-top:22%;
}

div#support form{
	margin-top:20pt;
	
}
div#support form input{
	width: 30%;
	height: auto;
	margin-top:30%;
}
div#inputs input{
	width:15%;
	height: 15%;
	margin-right:5%;
}

div#donate{
	float: right;
}

div#donate div{
	margin-bottom: 1%;
	text-align: center;
}

.form_group input{
	background : #F0C64F;
	background : rgba(240, 198, 79, 1);
}

h4#tit{
	margin-bottom:2%;
}
