*{
	margin: 0pt;
	padding: 0pt;
}



a:visited {
	text-decoration: none;
}

#header{
  background : #DBBB5F;
  background : rgba(219, 187, 95, 0.7);
  position: fixed;
    left: 0;
    top: 0;
    width: 100%;
  height : 25pt;
  overflow : hidden;
}

#header a{
	/*TEXT*/
	text-decoration: none;
    font-family : Copperplate Gothic Bold;
	font-size : 15pt;
	color : #FFFBF0;
	
}

div#home{
	position: relative;
	float: left;
	width:40pt;
	margin-top: 5pt;
	margin-left: 20pt;
	margin-bottom: 5pt;
}

div#menu{
	position : relative;
	float:right;
	margin-top: 5pt;
	margin-bottom: 5pt;
	margin-left: 20pt;
}


ul#pages{
	list-style-type: none;
	margin: 0pt;
	padding: 0pt;
	
}

div.navig{
	display: inline-block;
	
	
}

 ul#pages li { 
	display: inline;
	padding-right: 20pt;
}



#footer{
 background : #2B3600;
  background : rgba(43, 54, 0, 1);
  position : relative;
  left : 0;
  bottom: 0;
  width : 100%;
  height : 62pt;
  overflow: hidden;
}

#footer div{
	display: inline-block;
	clear: both;
}

div#contacts{
  border-style : Solid;
  border-color : #FFFF00;
  border-color : rgba(255, 255, 0, 1);
  border-width : 1pt;
  position : absolute;
  margin-top: 8pt;
  margin-left: 10pt;
  width : 92pt;
  height : 46pt;
  
}
  .NormalCharacterStyle1
{
  font-family : Copperplate Gothic Light;
  font-size : 10pt;
  color : #DBBB5F;
  color : rgb(219, 187, 95);
}
.NormalCharacterStyle
{
  font-family : Copperplate Gothic Light;
  font-size : 7pt;
  color : #DBBB5F;
  color : rgb(219, 187, 95);
}
  
div.footermenu {
  border-style : Solid;
  border-color : #FFFF00;
  border-color : rgba(255, 255, 0, 1);
  border-width : 1pt;
  position : absolute ;
  float: left;
  
  margin-left: 35%;
  display: inline-block;
  
  margin-top: 0;
  width : 460pt;
  height : 62pt;	
}	
  
.footermenu ul{
	list-style-type: none;
	margin: 0pt;
	padding: 0pt;
}
ul.footermenu li { 
	display: inline;
	padding-right: 20pt;
}

div.footermenu h5{
	display: inline-block;
	font-family : Copperplate Gothic Light;
	font-size : 15pt;
	color : #FFFBF0;
	color : rgb(255, 251, 240);
	margin-top: 23pt;
}

div#account_form_in {
	display: none;
}
div#account_form_out {
	display: none;
}
div#share_form {
	display: none;
}
div#contact_us_form {
	display: none;
}


div#social{
  display: block;
  border-style : Solid;
  border-color : #FFFF00;
  border-color : rgba(255, 255, 0, 1);
  border-width : 1pt;
  position : absolute;
  float: right;
  right: 0pt;
  margin-top: 0pt;

  width :130pt;
  height : 60pt;
}

div#social ul{
  list-style-type: none;
  margin: 0pt;
  padding: 0pt;
}
div#social ul li{
	display: inline;
	
}

div#social img{
	margin-right: 10pt;
	margin-top: 20pt;
 width : 26pt;
  height : 26pt;
}

/*=================================================IMAGES=====================================================================================*/

/*
#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

*/