*{
	margin: 0pt;
	padding: 0pt;
}
a{
	text-decoration: none;
}


#header a:hover {
	padding-bottom: 100%;
	padding-top: 100%;
	background: #DABA5D;
}

#header{
  background : #DBBB5F;
  background : rgba(219, 187, 95, 0.7);
  position: fixed;
    left: 0;
    top: 0;
    width: 100%;
  height : 25pt;
  overflow : hidden;
  z-index:999999;
}

#header a{
	/*TEXT*/
	text-decoration: none;
    font-family : Copperplate Gothic Bold;
	font-size : 15pt;
	color : #FFFBF0;

}

div#home{
	position: relative;
	float: left;
	width:40pt;
	margin-top: 5pt;
	margin-left: 20pt;
	margin-bottom: 5pt;
}


div#menu{
	position : relative;
	float:right;
	margin-top: 5pt;
	margin-bottom: 5pt;
	margin-left: 20pt;
}


ul#pages{
	list-style-type: none;
	margin: 0pt;
	padding: 0pt;

}

div.navig{
	display: inline-block;


}

 ul#pages li {
	display: inline;
	margin-right: 20pt;
}
ul#pages li:hover{
	padding-bottom: 100%;
	padding-top: 100%;
	background: #DABA5D;
}


#footer{
 background : #2B3600;
  background : rgba(43, 54, 0, 1);
  position : relative;
  left : 0;
  bottom: 0;
  width : 100%;
  height : 80px;
  overflow: hidden;
  padding-bottom:1pt;
  
}

#footer div{
	display: inline-block;
	
}

div#Contacts{
	display: inline-block;
  position: static;
 
  margin-top: 10px;
  margin-left: 6px;
  width : auto;
  height : auto;

}
  .NormalCharacterStyle1
{
  font-family : Copperplate Gothic Light;
  font-size : 12pt;
  color : #DBBB5F;
  color : rgb(219, 187, 95);
}
.NormalCharacterStyle
{
  font-family : Copperplate Gothic Light;
  font-size : 7pt;
  color : #DBBB5F;
  color : rgb(219, 187, 95);
}

div.footermenu {

  position: absolute ;
  text-align: center;

  left: 33%;
  display: inline-block;

  top: 30%;
  width : 33%;
  height : 40%;
}

.footermenu ul{
	list-style-type: none;
	margin: 0pt;
	padding: 0pt;
}
ul.footermenu li {
	display: inline;
	padding-right: 1%;
	padding-left: 1%;
}

div.footermenu h5{
	position: relative;
	display: block;
	font-family : Copperplate Gothic Light;
	font-size : 1vw;
	color : #FFFBF0;
	color : rgb(255, 251, 240);
	
}

div#account_form_in {
	display: none;
}
div#account_form_out {
	display: none;
}
div#share_form {
	display: none;
}
div#contact_us_form {
	display: none;
}


div#social{
  display:	inline-block;
  position : relative;
  float: right;

  margin-top: 0pt;

  width :auto;
  height : auto;
}

div#social ul{
  list-style-type: none;
  margin: 0pt;
  padding: 0pt;
}
div#social ul li{
	display: inline;

}

div#social img{
	margin-right: 10pt;
	margin-top: 20pt;
 width : 26pt;
  height : 26pt;
}

/*=================================================IMAGES=====================================================================================*/

/*
#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

*/
