

div#main{
	display: block;
	text-align: center;
	position: static;

	width: 100%;
	height: 100%;
}

div#caption{
	display: static;
	margin-top: 25%;
	position: relative;
	width :auto;
	height: auto;

}

div#caption h1{
  font-family : Copperplate Gothic Bold, Copperplate Gothic Light;
  font-size : 60pt;
  color : #FFFBF0;
  color : rgb(255, 251, 240);
}

div#scroll{
	display: static;
	margin-top:15%;
	position: relative;
	width :auto;
	height: auto;
	margin-bottom: 10%;

}
div#scroll h1{
    font-family : Copperplate Gothic Bold, Copperplate Gothic Light;
  font-size : 19pt;
  color : #FFFBF0;
  color : rgb(255, 251, 240);
  opacity : 0.58;
  filter: alpha(opacity=58) progid:DXImageTransform.Microsoft.Alpha(opacity=58) ;
}



div#morestuff{
	display: block;
	text-align: center;
	position: relative;
	background: rgba(230,255,230,0.1);
	width: 100%;
	height: 940px;
	
}
#morestuff div{
	display: inline-block;
}

#morestuff ul{
	 list-style-type: none;
  margin: 0pt;
  padding: 0pt;
  width:80%;
  margin-left:10%;
}

div#morestuff ul li{
	display: inline;

}

div#morestuff ul li div{

	margin-right: 10px;
	width: auto;
	height: auto;
	margin-top:8%;
	background : #F0C64F;
	background : rgba(240, 198, 79, 0.7);
	padding-bottom: 2%;
	text-align: center;
}
div#morestuff ul li div img{
	width: auto;
	height: 250px;
	
}

div#morestuff ul li div h5{
	font-family : Copperplate Gothic Bold, Copperplate Gothic Light;
	font-size :250%;
	color : #FFFBF0;
	color : rgb(255, 251, 240);
	margin-top: 3%;
}

div#action{
	display: inline;
	position: absolute;
	margin-top:100%;
	bottom:0;
	width:100%;
	height: 15%;
	text-align: center;
	left:0;
	background : #DBBB5F;
	background : rgba(219, 187, 95, 0.7);
}
div#action div#take{
	position: relative;
	margin-top: 2%;
	width: 30%;
	height:50%;
	
	background : #F0C64F;
	background : rgb(240, 198, 79);

}

#footer{
	width: 100%;
	padding-bottom: 1px;
}

div#action div#take a{
	text-decoration: none;
}
div#action div#take h2{
	margin-top: 5pt;
	font-family : Copperplate Gothic Bold, Copperplate Gothic Light;
	font-size : 36pt;
	color : #FFFBF0;
	color : rgb(255, 251, 240);
}	
	
	