*{
	margin: 0pt;
	padding: 0pt;
}

a:visited {
	text-decoration: none;
}
#left_cont{
 border: 1px red solid;
 display: inline-block;

}
#middle_cont{
	top: 0pt;
	width: 340pt;
	height: 538pt;
	float:left;
	border: 1px red solid;
}
#right_cont{
	top: 0pt;
	width: 340pt;
	height: 538pt;
	float: right;
}
