*{
	margin: 0pt;
	padding: 0pt;
	
}
div#content{
	display: block;
	position: relative;
	width: 100%;
	left: 5 pt;
	overflow: hidden;
	
}

a:visited {
	text-decoration: none;
}
/*
ul{
	list-style-type: none;
	margin: 0pt;
	padding: 0pt;	
}

ul li{
	display: inline;
	padding-right: 2pt;
}
*/
div.cont{
	width: 33%;
	display: inline-block;
	height: 100%;

}

div#right{
	float: right;
	position: relative;
}
div#left{
	float: left;
	position: relative;
}
div#mid{
	float: left;
	width: 34%;
	position: relative;
}
div.cont img{
	width: 100%;
	height: auto;
	margin-bottom: -20%;
	z-index:1;
	
}
div#mid img{
	width: 100%;
	height: auto;
	margin-bottom: -20%;

	z-index:1;
	
}
div.text{
	float: left;
	position: relative;
}
div.text{
	border: 1px red dashed;
	background : #F0C64F;
	background : rgba(240, 198, 79, 0.5);
	
	z-index:533;
}

#footer{
	margin-top: -1pt;
	padding-bottom: 1pt;
	position:relative;
/*
	display:none; 
*/
}



/*
#left_cont{
 border: 1px red solid;
 display: inline-block;

}
#middle_cont{
	top: 0pt;
	width: 340pt;
	height: 538pt;
	float:left;
	border: 1px red solid;
}
#right_cont{
	top: 0pt;
	width: 340pt;
	height: 538pt;
	float: right;
}
*/