@charset "utf-8";
	.image1
{
	background-image : url(image1.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 957pt;
	top : 555pt;
	width : 27pt;
	height : 27pt;
}
.image
{
	background-image : url(image.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 900pt;
	top : 555pt;
	width : 27pt;
	height : 27pt;
}
.image7
{
	background-image : url(image7.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 0pt;
	top : 0pt;
	width : 340pt;
	height : 538pt;
}
.st0
{
	background : #F0C64F;
	background : rgba(240, 198, 79, 0.5);
	position : absolute ;
	left : 0pt;
	top : 488pt;
	width : 340pt;
	height : 50pt;
}
.st1
{
	background : #F0C64F;
	background : rgba(240, 198, 79, 0.5);
	position : absolute ;
	left : 340pt;
	top : 488pt;
	width : 340pt;
	height : 50pt;
}
.image6
{
	background-image : url(image6.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 680pt;
	top : 0pt;
	width : 340pt;
	height : 538pt;
}
.image3
{
	background-image : url(image3.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 340pt;
	top : 0pt;
	width : 340pt;
	height : 538pt;
}
.st2
{
	background : #FFFBF0;
	background : rgba(255, 251, 240, 1);
	position : absolute ;
	left : 0pt;
	top : 0pt;
	width : 1020pt;
	height : 594pt;
}
.st3
{
	background : #FF0000;
	background : rgba(255, 0, 0, 1);
	position : absolute ;
	left : 40pt;
	top : 0pt;
	width : 60pt;
	height : 1020pt;
}
.image4
{
	background-image : url(image4.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 340pt;
	top : 0pt;
	width : 340pt;
	height : 538pt;
}
.image5
{
	background-image : url(image5.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 0pt;
	top : 0pt;
	width : 340pt;
	height : 538pt;
}
.st4
{
	background : #F0C64F;
	background : rgba(240, 198, 79, 0.5);
	position : absolute ;
	left : 680pt;
	top : 488pt;
	width : 340pt;
	height : 50pt;
}
.image2
{
	background-image : url(image2.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 843pt;
	top : 555pt;
	width : 27pt;
	height : 27pt;
}
.st5
{
	background : #DBBB5F;
	background : rgba(219, 187, 95, 0.5);
	position : absolute ;
	left : 0pt;
	top : 0pt;
	width : 1020pt;
	height : 26pt;
}
.st6
{
	background : #2B3600;
	background : rgba(43, 54, 0, 1);
	position : absolute ;
	left : 0pt;
	top : 538pt;
	width : 1020pt;
	height : 60pt;
}
.NormalCharacterStyle1
{
	font-family : Copperplate Gothic Bold;
	font-size : 36pt;
	color : #FFFBF0;
	color : rgb(255, 251, 240);
}
.NormalCharacterStyle
{
	font-family : Copperplate Gothic Bold;
	font-size : 36pt;
	color : #FFFBF0;
	color : rgb(255, 251, 240);
}
.NormalCharacterStyle2
{
	font-family : Copperplate Gothic Bold;
	font-size : 9pt;
	color : #FFFBF0;
	color : rgb(255, 251, 240);
}
.NormalCharacterStyle13
{
	font-family : Copperplate Gothic Bold;
	font-size : 36pt;
	color : #FFFBF0;
	color : rgb(255, 251, 240);
}
.NormalCharacterStyle12
{
	font-family : Copperplate Gothic Light;
	font-size : 9pt;
	color : #DBBB5F;
	color : rgb(219, 187, 95);
}
.NormalCharacterStyle11
{
	font-family : Copperplate Gothic Light;
	font-size : 5pt;
	color : #DBBB5F;
	color : rgb(219, 187, 95);
}
.NormalCharacterStyle10
{
	font-family : Copperplate Gothic Light;
	font-size : 10pt;
	color : #FFFBF0;
	color : rgb(255, 251, 240);
}
.NormalCharacterStyle9
{
	font-family : Copperplate Gothic Light;
	font-size : 10pt;
	color : #FFFBF0;
	color : rgb(255, 251, 240);
}
.NormalCharacterStyle8
{
	font-family : Copperplate Gothic Light;
	font-size : 10pt;
	color : #FFFBF0;
	color : rgb(255, 251, 240);
}
.NormalCharacterStyle7
{
	font-family : Copperplate Gothic Bold;
	font-size : 9pt;
	color : #FFFBF0;
	color : rgb(255, 251, 240);
}
.NormalCharacterStyle5
{
	font-family : Copperplate Gothic Bold;
	font-size : 9pt;
	color : #FFFBF0;
	color : rgb(255, 251, 240);
}
.NormalCharacterStyle4
{
	font-family : Copperplate Gothic Bold;
	font-size : 9pt;
	color : #FFFBF0;
	color : rgb(255, 251, 240);
}
.NormalCharacterStyle6
{
	font-family : Copperplate Gothic Bold;
	font-size : 9pt;
	color : #FFFBF0;
	color : rgb(255, 251, 240);
}
.NormalCharacterStyle3
{
	font-family : Copperplate Gothic Bold;
	font-size : 9pt;
	color : #FFFBF0;
	color : rgb(255, 251, 240);
}
